@page "/collection/{Id}"
@using KVNO.TFS.Client.Components.Collection

@if(CollectionName is not null)
{
    <h3>@CollectionName</h3>
}

@if (ProjectWithDetails is not null)
{
    <CollectionComponent ProjectsWithDetails="@ProjectWithDetails"></CollectionComponent>
}
else
{
    <h1>Please wait, Loading...</h1>
}
