@page "/"
@using KVNO.TFS.Client.Services;
@using KVNO.TFS.Shared.Models;
@inject ICollectionService cs;
@inject IProjectService ps;
@inject IWorkItemService ws;

<PageTitle>Index</PageTitle>

@if(loaded)
{
    <h1>Welcome at the super cool and crazy working awsome not much making App</h1>
    
    <p>The TFS has:<br />
        Collections: @Collections.Length<br>
        Projects: @Projects.Length<br>
        WorkItems: @workitemsCount<br>
    </p>
}



@code
{
    bool loaded = false;
    public DevOpsCollection[] Collections { get; set; }
    public DevOpsProject[] Projects { get; set; }
    public WorkItemsDetails[] WorkItemsDetails { get; set; }
    int workitemsCount = 0;

    protected override async Task OnInitializedAsync()
    {
        var collections = await cs.GetCollections();
        if(collections is not null)
        {
            var projectList = new List<DevOpsProject>();
            var detailslist = new List<WorkItemsDetails>();
            foreach (var col in collections)
            {
                var projects = await ps.GetProjects(col.Name, col.Id);
                if(projects is not null)
                {
                    if(projects is not null)
                        projectList.AddRange(projects);
                }
            }
            Console.WriteLine(projectList.Count);
            foreach (var pj in projectList)
            {
                var details = await ws.GetWorkItemDetails(pj.Id);
                if (details is not null)
                    detailslist.Add(details);
            }
            Collections = collections;
            Projects = projectList.ToArray();
            WorkItemsDetails = detailslist.ToArray();

            foreach (var detail in WorkItemsDetails)
            {
                workitemsCount += detail.Count;
            }
        }
       

        loaded = true;
    }
}