@page "/project/{Id}"
@using KVNO.TFS.Client.Components.Project

@if(Project is not null && WorkItems is not null)
{
    <h3>Project Title: @Project.Name</h3>
    <p>@Project.Description</p>
    <p>Last Update Time: @Project.LastUpdateTime</p>

    <ProjectSearchComponent WorkItems="WorkItems"></ProjectSearchComponent>
}
else
{
    <h1>Please wait, Loading...</h1>
}


