@using KVNO.TFS.Client.Models;

@if(datas.Count >0)
{
    <RadzenCard class="w-100 mb-4">
        <RadzenCheckBox @bind-Value="@showDataLabels" Name="dataLabels"></RadzenCheckBox>
        <RadzenLabel Text="Show Data Labels" For="dataLabels" Style="margin-left: 8px; vertical-align: middle;" />
    </RadzenCard>
    <RadzenChart>
        <RadzenDonutSeries Data="datas" CategoryProperty="Quarter" ValueProperty="Revenue">
            <ChildContent>
                <RadzenSeriesDataLabels Visible="@showDataLabels" />
            </ChildContent>
            <TitleTemplate>
                <div class="rz-donut-content">
                    <div>Collections</div>
                    <div>Projects</div>
                    <div>and</div>
                    <div>Work Items</div>
                </div>
            </TitleTemplate>
        </RadzenDonutSeries>
    </RadzenChart>
}


@code {
    [Parameter]
    public List<int> Information { get; set; }

    bool showDataLabels = false;

    List<DataItem> datas = new();

    protected override async Task OnParametersSetAsync()
    {
        datas.Add(new DataItem
            {
                Quarter = "Collections",
                Revenue = Information[0]
            });
        datas.Add(new DataItem
            {
                Quarter = "Projects",
                Revenue = Information[1]
            });
        datas.Add(new DataItem
            {
                Quarter = "Work Items",
                Revenue = Information[2]
            });
    }

}
